
parameters:
    level: 9
    paths:
        - src/Client/src
        - src/Client/tests
        - src/CodeGenerator/src
        - src/CodeGenerator/tests
    fileExtensions:
        - php
    scanDirectories:
      - src/Client/vendor
      - src/CodeGenerator/vendor
    ignoreErrors:
      -
        message: '#has invalid return type P8p\\Sdk\\Schema\\Meta\\V1\\Status#'
        path: src/Client/src/Response.php
      -
        message: '#has parameter \$type with generic class .* but does not specify its types#'
        path: src/CodeGenerator/src/Writer/TypeFormatter.php
      -
        message: '#Unable to resolve the template type T in call to method P8p\\Client\\Client::makeRequest\(\)#'
        path: src/Client/tests/ClientTest.php